<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
		<meta author="Daniel Hidalgo Carmona" />
        <title>{% block title %}Alimentos symfony{% endblock %}</title>
    </head>
    <body>
        {% block body %}
		{% endblock %}
		{% block stylesheets %}
			<link href="{{ asset('/css/colorbox.css') }}" type="text/css" rel="stylesheet" />
		{% endblock %}
        {% block javascripts %}
		<script src="{{ asset('/js/jquery-3.4.1.js') }}"></script>
		<script src="{{ asset('/js/jquery.colorbox.js') }}"></script>
		<script>
			$(document).ready(function(){

				$(".cajamodal").colorbox();
			});
		</script>
		{% endblock %}
    </body>
	
	
	
</html>
