<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
		<meta author="Daniel Hidalgo Carmona" />
        <title>{% block title %}Alimentos symfony{% endblock %}</title>
    </head>
    <body>
        {% block body %}{% endblock %}
		{% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
